*,*::after,a::before{
    margin: 0;
    padding: 0;

}
html{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: rgb(56, 56, 56);
    color: white;
    min-height: 100vh;
    
  
}
h1{
    background-color: aliceblue;
    padding: 1.2rem;
    margin-bottom: 1.2rem;
}
header{
   
   
    height: 32vh;
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: blanchedalmond;
   color: blue;
   box-shadow: 20px 10px 50px 20px black;
 
}
main{
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}
header > p{
 background-color: aliceblue;
 padding: 1rem;
 font-family: sans-serif;
 letter-spacing: 2;
}

input{
   
    border: 2px dotted blue;
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
    transition: all 0.2s all;
    border: 5px dotted black;
    height: 4rem;

}
button{
    padding: 1rem;
    width: 12rem;
    margin-top: 2rem;
    font-size: 2rem;
    color: green;
    font-weight: bold;
    border: 5px dotted green;
    
}

button:nth-child(1){
    color: red;
       border: 5px dotted red;
}
.input-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}
span{
    font-size: 1.2rem;
   display: inline-block;
   margin-top: 5px;
   
}
.number{
    font-size: 2rem;
    width: 5rem;
    margin: 5px 0;
    font-weight: bold;
    color: black;
}
@media screen and (max-width: 900px) {
 main{
    display: flex;
    flex-direction: column;
   
  
}
input{
    
    width: 80%;
}
}
